@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

[x-cloak] { display: none !important; }
.menu-transition { view-transition-name: full-screen-menu; }

@theme {
  --font-chakra: "Chakra Petch", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-space-g: "Space Grotesk", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --background-image-hero: url("../assets/hero.png");
}

@layer utilities {
  /* Default: Light Mode */
  .nav-glow-item {
    color: transparent;
    -webkit-text-stroke: 1px #00d8ff;
    transition: all 0.3s ease;
    display: inline-block;
    width: fit-content;
  }

  .nav-glow-item:hover {
    color: #00d8ff;
    -webkit-text-stroke: 0px transparent;
    filter: drop-shadow(0 0 12px rgba(23, 147, 209, 0.9))
      drop-shadow(0 0 25px rgba(0, 216, 255, 0.2));
    transform: translateX(0.5rem);
  }

  .nav-revenge-item {
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1), color 0.2s ease, text-shadow 0.2s ease;
    /* Outline tajam ala pop/manga */
    -webkit-text-stroke: 1.5px #000000;
    text-shadow: 4px 4px 0px #00f0ff;
    display: inline-block;
    width: fit-content;
  }

  .nav-revenge-item:hover {
    color: #00f0ff;
    -webkit-text-stroke: 1.5px #000000;
    /* Double solid offset shadow khas pop art */
    text-shadow: 5px 5px 0px #22c55e, -2px -2px 0px #000000;
    transform: skewX(-6deg) scale(1.05) translateX(0.5rem);
  }
}


